body {
   margin: 0 auto;
   text-align: center;
   font-family: 'Nerko One', cursive;
   background: #e7c5c5;
   border: 100px
}

.game-area {
   margin: 0 auto;
   text-align: center;
   padding-top: 20px;
}

.SCORE {
   margin-top: 10px;
}

.game-options select,
.game-options input {
   border: 100px solid #000000;
   padding: 10px;
   margin-right: 10px;
}

.game-board {
   margin-top: 50px;
   padding: 10px;
}

.grid-cell {
   font-size: 40px;
   padding: 15px 25px;
   width: 90px;
   background-color: #FCFCFC;
}

.green-player {
   font-size: 40px;
   padding: 15px 25px;
   width: 90px;
   background-color: rgb(122, 224, 122);
   color: #FFF;
}

.red-player {
   font-size: 40px;
   padding: 15px 25px;
   width: 90px;
   background-color: rgb(189, 126, 126);
   color: #FFF;
}

.hi {
   color: rgb(142, 6, 92);
   background: #f2e2e9;
   border-color: rgb(211, 102, 169);
   border-width: 10px;
   border-style: double;
   padding: 5px;
   font-family: 'Rubik Puddles', cursive;
   box-shadow: 5px 5px 2px #e1b7d4;
   border-radius: 60px;
}

@media (max-width: 600px) {
   .grid-cell {
       font-size: 20px;
       padding: 10px 15px;
       width: 50px;
   }

   .green-player,
   .red-player {
       font-size: 20px;
       padding: 10px 15px;
       width: 50px;
   }

   .hi {
       font-size: 14px;
       padding: 3px;
   }
}
